<div class="pagination mt-2 text-center">
  <span class="step-links">
    {% if answer.has_previous %}
        <a class="btn btn-primary btn-sm" href="?page=1">&laquo; first</a>
        <a class="btn btn-primary btn-sm" href="?page={{ answer.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ answer.number }} of {{ answer.paginator.num_pages }}.
    </span>

    {% if answer.has_next %}
        <a class="btn btn-primary btn-sm" href="?page={{ answer.next_page_number }}">next</a>
        <a class="btn btn-primary btn-sm" href="?page={{ answer.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
