{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static "blog/css/bootstrap.min.css" %}" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "blog/css/main.css" %}" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "blog/css/fontawesome-all.css" %}">

  <title>
    {% block title %}
    Blog
    {% endblock title %}
  </title>
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "blog/img/teamwork.svg" %}" alt="">Ask_Rodya</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {% if user.is_authenticated %}
            <a href="{% url 'ask' %}" class="btn btn-outline-primary first-item">Ask</a>
          {% else %}
            <a href="{% url 'signin' %}" class="btn btn-outline-primary first-item">Ask</a>
          {% endif %}

        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 form-margin">
        <input class="search form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn usr-btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>

      {% if user.is_authenticated %}
      <div class="user user-mob">
        <div class="username">
          <button class="btn usr-btn btn-outline-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <img class="avatar" src="{% static "blog/img/man.svg" %}" alt=""> {{ user.get_username }}
          </button>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <a class="dropdown-item" href="{% url 'profile' user.id%}">Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="{% url 'signout' %}">Sign out</a>
            </div>
          </div>
        </div>
        <div class="profile"></div>
      </div>

      <div class="btn-group user user-pc">
        <button type="button" class="btn btn-outline-primary dropdown-toggle no-padding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="avatar" src="{% static "blog/img/man.svg" %}" alt=""> {{ user.get_username }}
        </button>
        <div class="dropdown-menu margin-right">
           <a class="dropdown-item" href="{% url 'profile' user.id%}">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="{% url 'signout' %}">Sign out</a>
        </div>
      </div>
      {% else %}
        <a class="btn btn-outline-primary usr-btn mob-width" href="{% url 'signup' %}">Sign up</a>
        <a class="btn btn-outline-primary usr-btn mob-width" href="{% url 'signin' %}">Sign in</a>
      {% endif %}
    </div>
  </nav>

  <main role="main">
    <div class="workspace row justify-content-center">
      <div class="col-lg-8 col-xs-11 phone-margin">
        {% block content %}
        {% endblock content %}
      </div>
      <div class="col-lg-3 p-0 sidebar">
        {% include "blog/sidebar.html" %}
      </div>
    </div>
  </main>

  <footer class="footer bd-footer text-muted">
    <div class="container-fluid p-3 p-md-5">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">GitHub</button>
        <button type="button" class="btn btn-primary">Twitter</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">About</button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">About</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Designed and built with all the love in the world by <a class="btn btn-primary text-white" href="https://vk.com/rodiosha1" target="_blank" rel="noopener">Rodya</a>.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <p>Designed and built with all the love in the world by <a href="https://vk.com/rodiosha1" target="_blank" rel="noopener">Rodya</a>.</p>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static "blog/js/jquery.min.js" %}" crossorigin="anonymous"></script>
  <script src="{% static "blog/js/popper.min.js" %}" crossorigin="anonymous"></script>
  <script src="{% static "blog/js/bootstrap.min.js" %}" crossorigin="anonymous"></script>
  <script src="{% static "blog/js/fontawesome.min.js" %}" crossorigin="anonymous"></script>
</body>
</html>
