{% extends "blog/base.html" %}
{% load staticfiles %}

{% block typequestion %}
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'question_list' %}"><h4>New questions</h4></a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="{% url 'hot' %}"><h4>Hot questions</h4></a>
		</li>
	</ul>
{% endblock typequestion %}

{% block content %}
	{% for question in questions %}
	<div class="question row bg-white border rounded">
		<div class="col-2 p-0 border rounded-left ">
			<table class="h-100 w-100">
				<tr>
					<td>
						<div class="centered">
							<span><img class="avatar-post align-middle" src="{% static 'blog/img/man.svg' %}" alt=""></span><br>
							<table class="m-auto">
								<tr>
									<td><i class="fas fa-chevron-circle-up"></i></td>
								</tr>
								<tr>
									<td>{{ question.ratin }}</td>
								</tr>
								<tr>
									<td><i class="fas fa-chevron-circle-down"></i></td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-10 p-0">
			<div class="rounded-0 card mt-0">
				<div class="card-header"> Создан: {{ question.asking }}, {{ question.date }} </div>
				<div class="card-body">
					<h4 class="card-title"><a href="{% url 'question_detail' pk=question.pk %}"> {{ question.title }} </a></h4>
					<p class="card-text"> {{ question.text }} </p>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-lg-4 col-xs-5">Answers: </div>
						<div class="col-lg-8 col-xs-7">Tags: </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

  <div class="pagination mt-2 text-center">
	  <span class="step-links">
      {% if questions.has_previous %}
          <a class="btn btn-primary btn-sm" href="?page=1">&laquo; first</a>
          <a class="btn btn-primary btn-sm" href="?page={{ questions.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
      </span>

      {% if questions.has_next %}
          <a class="btn btn-primary btn-sm" href="?page={{ questions.next_page_number }}">next</a>
          <a class="btn btn-primary btn-sm" href="?page={{ questions.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
	  </span>
	</div>
{% endblock %}
