{% extends "blog/base.html" %}
{% load static %}

{% block title %}
  {{ tab|title }} Questions
{% endblock title %}

{% block content %}

{% if tab == 'new' %}
  <div class="container mb-4 mt-4">
    <nav class="nav nav-pills nav-justified">
      <a class="nav-item nav-link border rounded active" href="{% url 'index' %}">New questions</a>
      <a class="nav-item nav-link border rounded" href="{% url 'hot' %}">Hot questions</a>
    </nav>
  </div>
{% else %}
  <div class="container mb-4 mt-4">
    <nav class="nav nav-pills nav-justified">
      <a class="nav-item nav-link border rounded" href="{% url 'index' %}">New questions</a>
      <a class="nav-item nav-link border rounded active" href="{% url 'hot' %}">Hot questions</a>
    </nav>
  </div>
{% endif %}

{% for question in questions %}
  {% include "blog/question_template.html" %}
{% endfor %}

{% endblock content %}

{% block pagination %}
  {% include "blog/pagination.html" %}
{% endblock pagination %}
