{% extends "blog/base.html" %}

{% block title %}Sign in{% endblock %}

{% block content %}


<div class="row justify-content-center">
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Sign in</div>
    <div class="card-body text-primary">
      <div class="card-text">
        <form class="card-text" action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary">Sign in!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
